* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

header {
    width: 1320px;
    height: 600px;
    background-image: url('images/Banner\ Image.png');
    background-size: cover;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    color: #fbff00;


}

header .center {
    padding-top: 210px;
}

main .s-first {
    width: 802px;
    height: 806px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}



main .s-two {
    width: 1320px;
    height: 600px;
    background-image: url('images/Vectorrr.png');
    background-size: cover;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 25px;
    color: #ffffff;

}

main .s-two .text {
    width: 700px;
    padding-top: 150px;
    padding-left: 100px;

}

main .s-two .text>button {
    padding: 8px 16px;
    border: 2px solid transparent;
    border-radius: 6px;
    color: #ffffff;
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}


main .s-three {
    width: 1320px;
    height: 482px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 25px;
    padding-top: 140px;
    text-align: center;
    background-color: #ffe8e8;

}

main .s-three>button {
    padding: 8px 16px;
    border: 2px solid #f00;
    border-radius: 6px;
    color: #ffffff;
    background-color: #ff0000;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}


main .s-four {
    width: 1320px;
    height: 463px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

main .s-four .left {
    width: 392px;
}

main .s-four .middel {
    width: 463px;
    height: 463px;
    border: 15px solid red;
    padding: 30px;
    border-radius: 250px;

}

main .s-four .right {
    width: 296px;
}


main .s-five {
    width: 1320px;
    height: 986px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 25px;
    padding-top: 48px;
    text-align: center;


}

main .s-five .s-five-in {
    height: 662px;
    position: relative;

}

main .s-five .s-five-in .rectangle-one {
    position: absolute;
    right: 0;

}

main .s-five .s-five-in .rectangle-two {
    position: absolute;
    bottom: 0;
    left: 0;

}

main .s-five .s-five-in .rectangle-three {
    position: absolute;
    left: 0;


}

main .s-five .s-five-in .rectangle-four {
    position: absolute;
    right: 280px;
    top: 100px;

}

main .s-six {
    width: 1320px;
    min-height: 1163px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 25px;
    padding-top: 48px;


}

main .s-six .s-six-in {}

main .s-six .s-six-in .top,
.bottom {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

main .s-six .s-six-in .top>.two {
    width: 424px;
    height: 450px;
}



main .s-seveen {
    width: 1320px;
    height: 616px;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 25px;
    padding-top: 100px;
    background-color: #ffe8e8;

}

main .s-seveen input {
    border-radius: 20px 0px 0px 20px;
    width: 438px;
    height: 72px;
    font-size: 18px;
    padding: 0px 20px;
    border: 2px solid #ffffff;
}

main .s-seveen>button {
    width: 210px;
    height: 72px;
    background-color: #f00;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    border-radius:  0px 20px 20px 0px;
    cursor: pointer;

}


footer{
    width: 1600px ;
    height: 609px;
    margin: auto;
    margin-top: 100px;
    padding: 0px 100px;
    padding-top: 100px;
    background-color: #070211;

}

footer .f-one{
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    text-align: center;
    font-size: 24px;
}

footer .f-one a{
    color: #ffffff;
    text-decoration: none;
}

footer .f-two{
    text-align: center;
}

footer .f-three{
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    font-size: 24px;
    padding-top: 30px;
}


/* common css code */

.red {
    color: red;
}